.Dashboard header {
    display: flex;
    justify-content: space-between;
}

.Dashboard header button {
    cursor: pointer;
}

.total * {
    margin-bottom: 10px;
    font-size: 36px;
    font-family: Times;
    color: #888;
}

.total {
    margin-bottom: 20px;
}