.Entrance {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top right, #314c16, #577526, #b6d486);
    text-align: center;
}

.Entrance main {
    width: 100%;
    height: 100vh;
    background: #fff;
    border-radius: 60% 0 20% 0;
    box-shadow: -20px -20px 20px rgba(0, 0, 0, 0.2);
}

.AppIcon img {
    margin-top: 35vh;
    margin-bottom: 10px;
}

.btnGroup {
    margin-top: 15vh;
}

.btnGroup button {
    width: 160px;
    height: 45px;
    padding: 3px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btnGroup button:hover {
    transform: scale(1.1);
}

.leftBtn {
    margin-right: 40px;
    color: #104201;
    background: #eee;
}

.rightBtn {
    color: white;
    background: #5c8730;
}