.ImageUploader {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.Image {
    position: relative;
    margin-top: 15px;
    margin-right: 15px;
    width: 100px;
    height: 100px;
}

.Image .removeBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border: none;
    font-size: 18px;
    color: #fff;
    background-color: #aaa;
    border-radius: 15px;
    cursor: pointer;
    translate: 25% -25%;
}

.Image .removeBtn:hover{
    background-color: #888;
}

#addImageBtn {
    width: 100%;
    height: 100%;
    font-size: 40px;
    color: #fff;
    background-color: #ddd;
    border: none;
    cursor: pointer;
}

#addImageBtn:hover {
    background-color: #ccc;
}