.ShowDiary {
  padding: 0 15px 50px 15px;
}

.ShowDiary h2 {
  /* text-align: center; */
  padding-bottom: 20px;
}

.ShowDiary p {
  margin-bottom: 20px;
  text-align: left;
  font-size: 18px;
  color: rgb(58, 58, 58);
}

#dateWeather {
  margin-top: 5px;
  margin-bottom: 40px;
  text-align: left;
  color: rgb(96, 96, 96);
}
