.WriteFormContainer {
  padding-bottom: 50px;
}

.dateTopDisplay {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.WriteForm label,
.WriteForm input,
.writeForm textarea {
  color: rgb(83, 83, 83);
  box-sizing: border-box;
}

.WriteForm input[type=text] {
  font-family: Times;
}

.WriteForm label {
  line-height: 36px;
  font-size: 18px;
}

.WriteForm input {
  width: 85%;
  border: none;
  font-size: 20px;
}

.WriteForm input:focus {
  outline: none;
}

.WriteForm hr {
  margin-bottom: 10px;
  height: 1px;
  background-color: #dadada;
  border: none;
}

.WriteForm div {
  margin-bottom: 5px;
}

#weather {
  font-size: 20px;
  border: none;
}

#weather:focus {
  outline: none;
}

.WriteForm section {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-right: 20px;
}

#date {
  font-size: 18px;
}

.WriteForm section input {
  width: fit-content;
}
